<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Circle Fintech">
    <meta name="keyword" content="">
    <link href="{% static 'css/app.css' %}" rel="stylesheet">
    <title>This is the main page!</title>
</head>
<body>

    <form>
      <div class="grid-container">
        <div class="grid-x grid-padding-x">
          <div class="medium-6 cell">
            <label>First Name
              <input type="text" placeholder=".medium-6.cell">
            </label>
          </div>
          <div class="medium-6 cell">
            <label>Last Name
              <input type="text" placeholder=".medium-6.cell">
            </label>
          </div>
        </div>
      </div>
    </form>

</body>
</html>